name: Publish to NPM

on:
  release:
    types: [published]

  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      # Enable Chrome sandbox support on Linux
      # See: https://github.com/nicolo-ribaudo/nicolo-ribaudo/blob/main/puppeteer-headful/setup.sh
      - name: Enable Chrome sandbox (Linux)
        run: |
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0 || true
          sudo sysctl -w kernel.unprivileged_userns_clone=1 || true

      - run: npm ci

      - run: npm run test:coverage

      - uses: codecov/codecov-action@v5
        with:
          use_oidc: true
          files: ./coverage/coverage-final.json

  publish:
    name: Publish
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          registry-url: https://registry.npmjs.org

      - run: npm ci

      - run: npm run build

      - run: npm publish --provenance --access public
